/* img collector https://source.unsplash.com/1600x900/?nature,travel */
/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    height: 50rem;
    background-image: url("img/banner.jpg");
    /* background-attachment: fixed; */
    display: grid;
    place-items: center;
   

}

.navbar{
    height: 6rem;
    font-size: 2rem;
    position: fixed;
    width: 100vw;
    padding-right: 2rem;
    
}
.nav_bg{
    transition: 750ms ease;
    background:transparent!important;
}
.scrolled{
    background-color: grey!important;
    z-index: 1000;
}
.navbar-brand{
    font-size: 3rem ;
    padding-left: 2rem;
  
    
}
.navbar-light{
    color:#000;
}

.collapse{
    right: 0;

}
.nav-link:hover{
    color: rgb(230, 207, 196)!important;
}

.nav_white{
    color:white!important;
    background-color: gray;
    
}



.exp{
    font-size: 4rem;
   
    color: red;

}

#txt{
    font-size: 3rem;
    padding:3rem;
    margin-left: 1rem;

}


/* card partiton */
.card_holder{
    margin-left: 5vw;
    margin-right: 5vw;
}
.img_container{
    overflow: hidden;
    height: 15rem;
    position: relative;
    
}
.img_hover{
    z-index:100 ;
    transition: 0.5s ease;
    position: absolute;
}
.img_hover:hover{
    transform: scale(1.2);
}
.price{
    font-size: 2rem;
    z-index: 100;
    position: absolute;
    top: 80%;
    left: 0.2rem;
    display: block;
}
.date{
    font-size: 2rem;
    z-index: 100;
    position: absolute;
    top: 80%;
    right: 0.2rem;
    display: block;
}

.card-text{
    font-size: 1.5rem;
}

.card:hover{
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0 , 0 , 0.5);
}



.c-container{
    background-color: #000;
}
.clints{
    height: auto;
    /* width: 100vw; */
   margin-right: 0!important;
	
    background: #000;
}

.col-4{
    width:30vw!importent;
}

.c_title{
    font-size: 2rem;
    color: white;
    background-color: #000;
    padding: 2rem;
}
 
.clints .row{
    width: 100vw;
}
.clints img {
    height: 100%;
    width: 100%;
	transform: scale(0.7);
	
}
.row2{
    border-bottom:1px solid white;
}

.band_logo_2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for small devices */
@media screen and (max-width: 776px) {
    .nav_white{
        background-color: #000;
    }
    .hover_effect {
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        position: relative;
        margin-right: 50px;
    }
    
    
    
  }