/* img collector https://source.unsplash.com/1600x900/?nature,travel */
/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    height: 50rem;
    background-image: url("img/banner.jpg");
    /* background-attachment: fixed; */
    display: grid;
    place-items: center;
   

}

.navbar{
    height: 6rem;
    font-size: 2rem;
    position: fixed;
    width: 99vw;
    
}
.navbar-brand{
    font-size: 3rem ;
    padding-left: 2rem;
  
    
}
.navbar-light{
    color:#000;
}

.collapse{
    right: 0;

}

.exp{
    font-size: 4rem;
   
    color: red;

}



/* for small devices */

